.email{
  text-align: left; 
}
.h1{
  text-align: center;
}
.Cards{
  width: 18rem;
}

.img{
  width: 100px;
}

.App {


  background-image: url('/public/logo512.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
